.selected{
    background-color: #f3fcff;
}

.prescripton-diseases{
    background-color: #e7f2f5;
    // z-index: 9999;
    
    .prescription-medicine{
        z-index: -10;
        border-color: #e7f2f5;
        border-radius: 10px;
        left: 0;
        top: 20px;
    }
}

.avatar{
    width: 50px;
    height: 50px;
    margin: 0;
    .avatar-img{
        border-radius: 100%;
    }
}

.viewDetails{
    display: block;
}

.hideDetails{
    display: none;
}